@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
/* Application wide styles */

h1 {
  color: #ff8363;
  font-family: Quicksand, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #404040;
  font-family: Quicksand, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: #404040;
  font-family: Quicksand, serif;
}

* {
  font-family: Quicksand, sans-serif;
}
